@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    background-color: #eee;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-weight: 200;
}
a {
    text-decoration: none;
}
p {
    font-size: 0.9em;
    text-align: justify;
    padding: 10px;
}
/* CONTAINER */
.newspaper-container {
    width: 700px;
    margin: 3em auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 1px 5px #ddd;
}
/* HEADER */
.date {
    font-size: 0.8em;
}
header h1 {
    font-family: 'Abril Fatface', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}
/* NAVIGATION */
nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin: 1em;
    position: sticky;
    top: 0;
    background: white;
}
nav ul {
    list-style: none;
    margin: 0;
}
nav li {
    display: inline-block;
    padding: 0.5em;
}
nav a {
    font-size: 0.8em;
    color: #777;
}
/* FRONT PAGE ARTICLES */
main h2 {
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 0;
}
main h5 {
    font-family: 'Abril Fatface', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #dd3232;
    margin-top: 0.5em;
}